<div class="flex-row flex-wrap gap-10 mt-10 flex items-center">
  <div
    class="flex items-center flex-row flex-wrap content-between p-3 m-4 mt-5 mx-auto bg-white border border-gray-200 box-border rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 max-w-sm overflow-hidden">
    <a href="{% url 'product' product.slug %}" class="basis-1/2 pr-4 mx-auto">
      <img class=" object-cover" src="{{ product.get_thumbnail }}" alt="product item" />
    </a>
    <div class="basis-1/2">
      <a href="{% url 'product' product.slug %}">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product.name}}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ product.description|truncatewords:20}}</p>
      <a href="{% url 'product' product.slug %}" hx-get="{% url 'add_to_cart' product.id %}" hx-target="#menu-cart-button"
        hx-swap="outerHTML"
        class="block items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        Add to cart
      </a>
    </div>
  </div>
</div>