<div class="w-full xs:w-1/2 sm:w-1/2 md:w-1/4 lg:w-1/4 xlg:w-1/4 p-6">
  <div class="max-w-sm h-auto">
    <a href="{% url 'product' product.slug %}">
      <img src="{{ product.get_thumbnail }}"/>
    </a>
  </div>
  <div class="pt-2">
    <a href="{% url 'product' product.slug %}" class=" text-lg font-semibold">
      {{ product.name|truncatewords:5}}
    </a>
    <p class="pt-2">{{ product.description|truncatewords:20}}</p>
    <p class="pt-1 text-gray-500 pb-4 max-w-md">${{product.get_product_price}}</p>
    <a href="#" hx-get="{% url 'add_to_cart' product.id %}" hx-target="#menu-cart-button" hx-swap="outerHTML">
      <span class="font-semibold bg-gray-500 hover:bg-gray-700 text-white px-2 py-3 rounded-lg mt-4
      ">Add to cart</span>
    </a>
  </div>
</div>
