{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  {% tailwind_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
  <title>{% block title %} {% endblock %} Online Store</title>
</head>

<body>
  <div class="navbar">
    <nav style="background-color: #232f3e" class="text-white font-medium list-none pt-1">
      <div class="max-auto py-2 px-6 flex items-center justify-between">
        <div class="menu-left flex space-x-6 items-center">
          <a href="/" style="font-family: 'Alfa Slab One', cursive"
            class="hover:text-slate-100 hover:animate-pulse py-2 text-2xl font-semibold mr-10">DigiStore</a>
          <ul class="flex items center space-x-10 font-semibold">
            <li class="text-slate-400 hover:text-white">
              <a href="{% url 'shop' %}">Shop</a>
            </li>
            <li class="text-slate-400 hover:text-white">
              <a href="{% url 'shop' %}">About</a>
            </li>
          </ul>
        </div>
        <div class="menu-right flex space-x-4 items-center">
          <a href="{% url 'user_account' %}">
            {% if user.is_authenticated %}
            <li class="text-slate-400 hover:text-white font-semibold">
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="text-slate-400 hover:text-white">
              <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
          </a>
          <div hx-get="{% url 'menu_cart' %}" hx-trigger="update-menu-cart from:body" hx-swap="innerHTML"></div>
          <div class="pr-3">{% include 'cart/menu_cart.html' %}</div>
        </div>
      </div>
    </nav>
  </div>
  <main class="bg-gray-50">{% block content %} {% endblock %}</main>
  <footer class="bg-gray-100 p-10 flex flex-row flex-wrap content-center items-center">
    <div class="sm:mb-5 text-lg">
      <p class="font-semibold text-gray-900">About us:</p>
      <p class="text-gray-500 font-normal mt-4">
        All rights reserved © 2023, DigiStore.com 2023, Inc.
      </p>
    </div>
    <div class="space-x-3 flex flex-row flex-wrap content-center items-center pt-5 pl-20">
      <a href="">
        <img src="{% static 'social-icons/facebook.ico' %}" alt="" class="h-15 w-auto">
      </a>
      <a href="">
        <img src="{% static 'social-icons/instagram.ico' %}" alt="" class="h-15 w-auto">
      </a>
      <a href="">
        <img src="{% static 'social-icons/twitter.ico' %}" alt="" class="h-15 w-auto">
      </a>
    </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script>
    var typed = new Typed('#typed', {
      strings: [
        "Find your favourite digital product with best prices.",
        "Our prices are unique.",
        "Did n't find a product! contact us and we will get it for you."
      ],
      speed: 0,
      loop: true,
      tartDelay: "1000",
      backSpeed: "10",
      fadeOut: "true",
      loopCount: "5",
      startDelay: "1000",
      backDelay: "10000",
    });
  </script>
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  <script src="{% static 'js/debug.js' %}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>

</html>