{% extends 'base.html' %} {% block footer %}
<footer class="bg-gray-100">
  <div class="max-w-6xl max-auto py-10 px-6 xl:px-0 md:flex justify-between">
    <div class="footer-left mb-12 md:mb-0">
      <h2 class="mb-5 text-lg">About us</h2>
      <p class="text-gray-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit
      </p>
    </div>
    <div class="footer-right mb-12 md:mb-0">
      <h2 class="mb-5 text-lg">Social Media Links</h2>
      <ul class="space-y-2">
        <li>
          <a href="#" class="text-purple-500 hover:text-purple-800">Facbook</a>
        </li>
        <li>
          <a href="#" class="text-purple-500 hover:text-purple-800"
            >Instagram</a
          >
        </li>
        <li>
          <a href="#" class="text-purple-500 hover:text-purple-800">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}
