{% extends "base.html" %} {% block header %}
<header class="bg-purple-500">
  <div class="py-10 px-6 lg:py-20">
    <div class="max-w-3xl mx-auto text-center">
      <p class="text-white mb-2 text-3xl lg:text-5xl">Welcome to Ecommercial</p>
      <p class="mb-10 text-white">We find many products here.</p>
      <a
        href=""
        class="inline-block px-8 py-4 font-semibold rounded-2xl text-purple-500 bg-white hover:bg-gray-200"
        >Shop Now</a
      >
    </div>
  </div>
</header>
{% endblock header %}
