{% extends 'core/base.html' %} {% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
  <div class="bg-gray-100 mx-auto rounded-xl p-6">
    <h1 class="text-2xl mb-6">Login</h1>
    <form action="." method="post" class="space-y-3">
      {% csrf_token %}
      <div>
        <label>E-mail</label>
        <input class="w-full bg-white px-6 py-4 rounded-lg" type="email" />
      </div>
      <div>
        <label>Password</label>
        <input class="w-full bg-white px-6 py-4 rounded-lg" type="password" />
      </div>
      <div>
        <label>Password again</label>
        <input class="w-full bg-white px-6 py-4 rounded-lg" type="password" />
      </div>
      <div class="text-red-900 semibold animate-bounce">
        <p>There is an error</p>
      </div>
      <div>
        <button
          type="submit"
          class="rounded-xl py-4 px-6 text-white font-semibold bg-purple-500 hover:bg-purple-700"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
