{% extends 'base.html' %} {% block nav %}
<nav class="border-b border-gray-300">
  <div
    class="max-w-6xl max-auto py-2 px-6 xl:px-0 flex items-center justify-between"
  >
    <div class="menu-left flex space-x-6 items-center">
      <a href="#" class="py-4 text-lg font-semibold text-purple-500"
        >Ecommerce</a
      >
      <ul class="flex items center space-x-4">
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <div class="menu-right flex space-x-4 items-center">
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
          />
        </svg>
      </a>
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>
      </a>
    </div>
  </div>
</nav>
{% endblock %}
