{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-6xl max-auto p-6">
    <div class="mb-5 text-3xl">My Account</div>
    <div class="mb-6">
        <strong>Name: </strong>{{request.user.get_full_name}} <br>
        <strong>User name: </strong>{{request.user.username}} <br>
        <strong>Email: </strong>{{request.user.email}} <br>
        <a href="{% url 'edit_user_account' %}"
            class="inline-block mt-4 py-4 px-6 rounded-xl text-white bg-purple-500">Edit</a>
    </div>
    <hr>
    <h2 class="my-6 text-xl">My orders</h2>
    {% for order in request.user.orders.all %}
    <div class="my-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
        <div class="mb-6 flex justify-between">
            <a href="#">order: {{order.id}}</a>
        </div>
        {% for item in order.items.all %}
        <div class="mb-6 w-full">
            <div class="product mb-6 flex pr-6">
                <a href="#" class="w-1/4">
                    <img class="hover:shadow-lg rounded-xl" src="{{item.product.get_thumbnail}}" alt="pic one demo">
                </a>
                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">{{item.product.name}}</a>
                        <p class="mb-6 pt-1 text-gray-400">$99.9</p>
                    </div>
                    <hr>
                    <div class="mt-6">{{item.quantity}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="text-lg">
            <p>Date: {{order.created_at}}</p>
            <p>total price: $123.99</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock  %}